*.d
*.o
*.obj
*.out
*.a
*.so
*.res
*.lib
*.dll
*.exe
*.pyc
*.pyd
*.dat

*.depend
*.layout
*.log
*.stackdump

out*
*temp*

python/jpeg.py
python/*wrap.*

build/*
!build/CMakeLists.txt

other/*
result/*
